/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _cv.scss
* Description:  Curriculum vitae
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
* _base
* _skills
* _projects
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* _base
===========================================*/
.cv {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

.cv__column {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  &:first-child {
    padding-right: 10px;
  }
  &:last-child {
    padding-left: 10px;
  }
  @include media('screen-small') {
    width: 100%;
    padding: 0 !important;
  }
}

.cv__column--main {
  width: 65%;
  @include media('screen-small') {
    width: 100%;
    padding: 0 !important;
  }
}

.cv__column--secondary {
  width: 35%;
  @include media('screen-small') {
    width: 100%;
    padding: 0 !important;
  }
}

.cv__item {
  box-sizing: border-box;
  padding: 15px;
  @include border-radius(5px);
  @include media('screen-small') {
    background-color: $lightmetal;
    margin: 0 0 20px;
  }
}

.cv__item--with-bg {
  background-color: $lightmetal;
  margin: 0 0 20px;

}

.cv__title {
  @include font-size(20px);
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  @include border-radius(5px);
}

/* _me
===========================================*/
.cv__me {
  @include border-radius(5px);
  position: relative;

}

.cv__me__memoji {
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  @include media('tablet-large') {
    width: 100%;
    display: block;
  }
}

.cv__me__settings {
  display: inline-block;
  width: 10%;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: right;
  @include media('screen-small') {
    display: none;
  }
}

.cv__me__text {
  display: inline-block;
  width: 70%;
  box-sizing: border-box;
  vertical-align: middle;
  @include media('screen-small') {
    width: 80%;
  }
  @include media('tablet-large') {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.cv__me__text__item {
  padding: 3px 5px 5px;
  @include font-size(15px);
  .cv__title {
    margin-bottom: 0;
    padding: 10px 0 5px;
    border: none;
    background-color: transparent;
  }
}

.cv__me__text__item__title {
  @include font-size(20px);
  font-weight: bold;

}

.cv__me__text__item__subtitle {
  @include font-size(16px);
  font-weight: bold;
}

.cv__me__text__item__label {
  font-weight: bold;
}

.cv__me__text__item__value {
  font-style: italic;
  img {
    height: 12px;
    width: auto;
    padding-right: 3px;
  }
}

/* _skills
===========================================*/