/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _cv.scss
* Description:  Curriculum vitae
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
* _base
* _skills
* _projects
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* _base
===========================================*/
.cv {
  padding: 10px 0;
}

.cv__title {
  @include font-size(18px);
  line-height: 20px;
  padding: 8px 0 5px;
  font-weight: bold;
}

/* _skills
===========================================*/
.skills {
  display: flex;
  flex-wrap: wrap;

}
.skills__category {
  display: inline-block;
  //background-color: red;
  padding: 5px;
  float: left;
}

.skill {
  display: inline-block;
  padding: 3px 5px;
  background-color: $white;
  color: $black;
  @include font-size(13px);
  font-weight: bold;
  line-height: 14px;
  vertical-align: middle;
  border-width: 5px;
  border-style: solid;
}

.skill--main {

}

.skill--child {

}

.skill-title {
  display: inline-block;
  padding: 3px 5px 3px 0;
  @include font-size(13px);
  font-weight: bold;
  line-height: 14px;
  vertical-align: middle;
  border: 5px solid transparent;
  border-left-width: 0px;
}

/* _projects
===========================================*/
.project__title {
  font-weight: bold;
  text-decoration: underline;
  padding-top: 5px;
}

.project__title__plus {
  @include font-size(13px);
  //font-weight: bold;
  font-style: italic;
  &:before {
    content: "• ";
  }
}

.project_skills {

}