.footer {
  border-top: 2px solid $lightmetal;
  font-family: Courier, monospace;
  text-align: center;
  padding: 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.footer__copyright {

}

.footer__about {
  padding-top: 10px;
  @include font-size(14px);
}