.navbar {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: $lightmetal;
  display: none;
  @include media('screen-small') {
    display: block;
  }
  @include media('tablet-small') {
    text-align: center;
  }

}

.navbar__item {
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  color: $white;
  vertical-align: middle;
}

.navbar__item__logo {
  display: block;
  font-family: 'Pacifico', cursive;
  @include font-size(20px);
  font-weight: bold;
  //background-color: $gray;
  color: $metal;
  padding: 5px 8px;
  text-align: center;
  @include border-radius(5px);
  &:hover {
    //color: $white;
    //background-color: $lightgray;
  }

}

.navbar__item__icon {
  @include font-size(26px);
  padding: 5px;
}

.navbar__item__title {
  @include font-size(14px);
  padding: 5px;
  font-weight: bold;
}